.normalBack {  background:  radial-gradient(circle, #cbf2f7, #b3f3fc, #a4f1fc) center; font-family: 'Acme', sans-serif; }
.victoryBack { animation: mainscreen 3s linear infinite alternate;
-webkit-animation: mainscreen 3s linear infinite alternate; font-family: 'Acme', sans-serif;}

@-webkit-keyframes mainscreen {
0%   {background-color: #34ebe8} /*green*/
12.5%  {background-color: #53edd1} /*blue*/
25%  {background-color: #5ef2c3} /*purple*/
37.5%  {background-color: #70fab5} /*pink*/
50% {background-color: #97f7af} /*yellow*/
62.5% {background-color: #9de697} /*orange*/
75% {background-color: #7ef2e1} /*red*/
87.5% {background-color: #89f283} /*white*/
100% {background-color: #83dcf7}
}
@keyframes mainscreen {
0%   {background-color: #34ebe8} /*green*/
12.5%  {background-color: #53edd1} /*blue*/
25%  {background-color: #5ef2c3} /*purple*/
37.5%  {background-color: #70fab5} /*pink*/
50% {background-color: #97f7af} /*yellow*/
62.5% {background-color: #9de697} /*orange*/
75% {background-color: #7ef2e1} /*red*/
87.5% {background-color: #89f283} /*white*/
100% {background-color: #83dcf7}
}

ul {
  list-style-type: none;
  position:relative;
  text-align:center;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  background: radial-gradient(circle, #faebb9, #face8e, #ffb74d) center;
}
.playerXNav{
right:11%;
color: #fcf6ac;
position: relative;
display: inline-block;  
padding: 14px 20px;
background: radial-gradient(circle, #fac1a2, #faaa7f, #ff9f6b) center;
}

.title{
right: 1%;
bottom: 20px;
font-size: 24px;
font-weight: bold;
position: relative;
display: inline-block;  padding: 14px 20px;
}
.playerONav{
left:8.5%;
color: #fcf6ac;
position: relative;
display: inline-block;  
padding: 14px 20px;
background: radial-gradient(circle, #fac1a2, #faaa7f, #ff9f6b) center;
}
li {
  display: inline-block;
  color: white;
  margin-left: 0px;
  padding: 14px 20px;
  text-decoration: none;
  background-color: #111;
}